.benefit__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 320px;
}

.benefit__item {
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
}

.benefit__item--visual {
  padding-top: 33px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  background-color: #81b3d2;
}

.benefit__item--text {
  color: #333333;
  background-color: #ffffff;
}

.benefit__list--simple--list {
  display: flex;
  flex-direction: column;
  padding-top: 23px;
  padding-bottom: 52px;
  color: #333333;
  background-color: #ffffff;
  list-style-type: none;
}

.benefit__item--house::before {
  content: "";
  display: block;
  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.benefit__item--food::before {
  content: "";
  display: block;
  background-image: url("../img/icon-food.svg");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.benefit__item--souvenir::before {
  content: "";
  display: block;
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.benefit-title,
.benefit-title-2 {
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.benefit__description,
.benefit__number {
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
