.benefit__header {
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

.benefit__sedona-header {
  padding: 0;
  margin: 0;
  padding-bottom: 35px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.benefit__reason {
  padding: 0;
  padding-bottom: 16px;
  margin: 0;
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.benefit__header::after {
  content: "";
  background-image: url("../img/intro-triangle-2.svg");
  background-repeat: no-repeat;
  width: 320px;
  height: 37px;
}
