.block-photo__wrapper {
  padding: 37px 20px 17px 20px;
}

.block-photo__title {
  margin: o;
  padding: 0;
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.block-photo__description {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  padding-bottom: 42px;
}

.block-photo__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

// .block-photo__rating {
//   display: block;
// }
