.block-photo__wrapper {
  padding: 37px 20px 17px 20px;
}

.block-photo__title {
  margin: 0;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 0.5em;
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: start;
  text-transform: uppercase;
  color: #000000;
}

.block-photo__title-1 {
  text-align: center;
}

.block-photo__description {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  padding-bottom: 42px;
}

.block-photo__author {
  padding: 0;
  margin: 0;
  margin-bottom: 11px;
}

.block-photo__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.block-video {
  padding-left: 20px;
  padding-right: 20px;
}

.block-video__question {
  text-align: center;
  display: block;
  padding-bottom: 1em;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.block-video__text {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  padding-bottom: 38px;
}
