.feedback {
  // padding-left: 20px;
  // padding-right: 20px;
}

.feedback__form-header {
  padding-left: 7px;
  padding-right: 7px;
}

.feedback__title {
  margin: o;
  padding: 0;
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.feedback__text {
  margin: 0;
  padding: 0;
  padding-bottom: 28px;
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  width: 306px;
}

.feedback__form {
  padding-left: 20px;
  padding-right: 20px;
}

.name__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  padding-bottom: 20px;
}
