.find {
  padding: 39px 18px 49px 18px;
  text-align: center;
}

.find-hotel {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.find__title {
  display: block;
  padding-bottom: 1em;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.find__description {
  margin: 0;
  padding: 0;
  padding-bottom: 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
}

.find-hotel__button {
  display: inline-block;
  box-sizing: border-box;
  padding: 16px 37px;
  font-size: 21px;
  line-height: 26px;
  background-color: #81b3d2;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
