.find {
  padding: 39px 30px 49px 30px;
  text-align: center;
}

.find-hotel {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.find-title {
  margin: 0;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.find__description {
  margin: 0;
  padding: 0;
  padding-bottom: 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
}

.find-hotel__button {
  padding: 16px 49px 16px 49px;
  font-size: 21px;
  line-height: 26px;
  background-color: #81b3d2;
  color: #ffffff;
  width: 284px;
  height: 58px;
  text-decoration: none;
  text-transform: uppercase;
}
