.main-footer {
  margin: 0;
  padding: 0;
  padding-top: 29px;
  padding-bottom: 29px;
  color: #000000;
}

.main-footer__wrapper {
  align-items: center;
  text-align: center;
}

.main-footer__hashtag {
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 34px;
}

.hashtag__site {
  text-decoration: none;
  color: #000000;
}

.main-footer__social {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
  padding-bottom: 40px;
}

.social__list {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.social__item {
  margin-right: 6px;
}

.main-footer__development {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.development__text {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-right: 5px;
}
