.main-page-logo {
  display: flex;
  flex-direction: column;
  min-height: 390px;
  max-height: 518px;
  min-width: 320px;
  background-image: url("../img/background-image-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #81b3d2;
}

.primary-welcome {
  padding: 84px 19px 30px 19px;
  display: block;
  align-self: center;
}

.main-page-logo::after {
  content: "";
  display: block;
  background-image: url("../img/intro-triangle.svg");
  width: 320px;
  height: 57px;
}
