.main-footer {
  margin: 0;
  padding: 0;
  padding-top: 29px;
  padding-bottom: 29px;
  color: #000000;
}

.main-footer__wrapper {
  align-items: center;
  text-align: center;
}

.main-footer__hashtag {
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.main-footer__social {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding-top: 34px;
  padding-bottom: 47px;
  width: 156px;
}

.social__list {
  display: flex;
  justify-content: center;
  list-style-type: none;

}

.main-footer__development {
  margin: 0;
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
