.main-footer {
  margin: 0;
  padding: 0;
  padding-top: 29px;
  padding-bottom: 29px;
  color: #000000;
}

.main-footer__wrapper {
  text-align: center;
}

.main-footer__hashtag {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.main-footer__social {
  padding-top: 34px;
  padding-bottom: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  min-width: 156px;
}

.main-footer__development {
  margin: 0;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
