.main-header {
  margin: 0;
  padding: 0;
}

.main-nav__toggle {
  width: 23px;
  height: 22px;
}

.visually-hidden {
  display: none;
}

.main-nav__list {
  display: none;
}

.main-header__logo {
  align-items: center;
}
